@font-face {
    font-family: unisansHeavy;
    src: url("../../../fonts/unisansfree/Uni Sans Heavy.otf");
}

@font-face {
    font-family: unisansThin;
    src: url("../../../fonts/unisansfree/Uni Sans Thin.otf");
}

.listing {
    display: flex; 
}

.listingLeft {
    width: 700px;
    height: 200px;
}

.courseTitle {
    font-family: unisansHeavy;
}

.schoolTitle {
    font-family: unisansThin;
}

.listingRight {
    margin-top: 20px;
    flex-grow: 1;
}

