@font-face {
    font-family: unisansHeavy;
    src: url("../../../fonts/unisansfree/Uni Sans Heavy.otf");
}

@font-face {
    font-family: unisansThin;
    src: url("../../../fonts/unisansfree/Uni Sans Thin.otf");
}

.listing {
    display: flex; 
}

.listingLeft {
    padding-left: relative;
    width: 750px;
    margin: auto;
}

.courseTitle {
    font-family: unisansHeavy;
    font-size: 2.0vw;
}

.schoolTitle {
    font-family: unisansThin;
    font-size: 1.0vw;
    margin-bottom: 8px;
}

.time, .daysOfWeek, .startDate {
    font-family: unisansThin;
    font-size: 1.0vw;
}

.listingRight {
    flex-grow: 1;
    margin: auto;
}

.schoolStreet, .schoolCity {
    font-family: unisansThin;
    font-size: 1.0vw;
}

.schoolCity {
    margin-block-end: 35px;
}

.registerButton {
    font-family: unisansThin;
    font-size: 1.0vw;
    background-color: #808080;
    border: none;
    text-align: center;
    padding: 10px 32px; 
    color: #FFFFFF;
}

.registerButton:hover{
    background-color: #707070;
}
