.Footer {
  padding-block-start: 20px;
  background-color: #808080;
  color: #FFFFFF;
  align-content: left;
  bottom: 0;
  margin: 0 auto !important;
  text-align: center !important;
  width: 100% !important;
  height: 40px;
  position: relative;
}