@font-face {
    font-family: unisansHeavy;
    src: url("../../fonts/unisansfree/Uni Sans Heavy.otf");
}

@font-face {
    font-family: unisansThin;
    src: url("../../fonts/unisansfree/Uni Sans Thin.otf");
}

.jumbotron {
    background: url("../../images/class-app.png") no-repeat center;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    color: #808080;
    align-content: center;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-family: unisansHeavy;
    font-size: 4.5vw;
    padding-block-start: 22px;
}

.jumbotron p {
    font-family: unisansThin;
    font-size: 3.0vw;
    padding-block-end: 8px;
}

.registerButton {
    font-size: 2.0vw;
    background-color: #808080;
    border: none;
    text-align: center;
}

.registerButton:hover{
    background-color: #707070;
}